<% content_for :page_heading do %>
<h1>People</h1>
<% end %>


<table>
  <thead>
    <tr>
      <td>Name</td>
    </tr>
  </thead>
  <tbody>
    <% @people.each do |person| %>
    <tr>
      <td><%= link_to person.name, person_path(person) %></td>
    </tr>
    <% end %>
    <% if @people.length == 0 %>
      <tr><td colspan=1>No people (yet!)</td></tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to "add person",  new_person_path, :class => "button" %></p>
