<h1>Item types</h1>


<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Measure by...</td>
    </tr>
  </thead>
  <tbody>
    <% @item_types.each do |item_type| %>
    <tr>
      <td><%= link_to item_type.name, item_type_path(item_type) %></td>
      <td><%= item_type.measure_by %></td>
    </tr>
    <% end %>
    <% if @item_types.length == 0 %>
      <tr><td colspan=2>No item types</td></tr>
    <% end %>
  </tbody>
</table>


<%= link_to "add item type",  new_item_type_path, :class => "button" %>

