<% content_for :page_heading do %>
<% end %>

<div class="medium-7 large-8">
  <h3>Welcome to <strong>divvyup</strong>, the item-sharing site for roommates, friends, and families.</h3>
</div>

<div id="sign_in_spacer" class="row show-for-medium-up top-spacer"></div>

<%= render "devise/sessions/form", :resource => resource, :resource_name => resource_name %>

